body {
    background-color: rgb(26, 26, 29);
}

h1, h2, p, td{
    color: white;
}

h1 {
    font-size: 4em;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    margin: 20px 5px 10px 5px;
    font-weight: 1000;
}

h2 {
    font-size: 1.5em;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 30em;
    color: rgb(172, 172, 172);
}

#desc {
    font-family: Helvetica, Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 30em;
    margin-bottom: 20px;
    padding: 0 0 0 20px;
}

#end {
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 40px;
}

input {
    background-color: rgb(58, 58, 58);
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    border-style: none;
    border: 0;
    outline: 0;
    padding: 7px;
}

table {
    table-layout: fixed;
    border-spacing: 10px;
    padding: 7px;
}

td {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 24px;
    border: 2px solid white;
    width: 40px;
    height: 40px;
    text-align: center;

}

.center {
    display: flex;
    justify-content: center;
}